body {
  background-image: url("images/minimalist.jpg");
  background-attachment: fixed;
  background-size: cover;
}

.main-section {
  display: table;
  width: 100%;
  height: 100px;
  padding: 20px;
  position: relative;
}

.main-section h1 {
  text-align: center;
  color: white;
  font-size: 70px;
  margin-top: 0.7em;
  margin-bottom: 0.7em;
}

.main-section h1 span {
  text-align: center;
  color: rgba(15, 113, 131, 0.77);
}

.title {
  letter-spacing: 2px;
  text-decoration: none;
  border-bottom: 2px solid white;
  text-transform: uppercase;
  font-weight: 200;
}

.section {
  display: block;
}

.section-content {
  padding: 60px;
  display: block;
  overflow: auto;
}

.blue-bg > .section-content {
  background-image: linear-gradient(100deg,rgba(15, 113, 131, 0.77), #87b7b8);
}

.blue-bg h1, .blue-bg p {
  color: white;
}

img {
  margin-top: 10px;
}

p {
  font-size: 24px;
  font-weight: 300;
  letter-spacing: 2px;
}

.title-bl {
  letter-spacing: 2px;
  text-decoration: none;
  border-bottom: 2px solid rgba(15, 113, 131, 0.77);
  text-transform: uppercase;
  font-weight: 200;
}

.clear-bg > .section-content {
  background-color: white;
  font-size: 24px;
}

.clear-bg h1, .clear-bg p, .clear-bg li {
  color: rgba(15, 113, 131, 0.77);
}
