<table style="width100%">
  <tr>
    <th style="height: 30px">Monday</th>
    <th>Tuesday</th>
    <th>Wednesday</th>
    <th>Thursday</th>
    <th>Friday</th>
  </tr>
  <tr>
    <td style="height: 60px">3 p.m.</td>
    <td>3 p.m.</td>
    <td>3 p.m.</td>
    <td>3 p.m.</td>
    <td>3 p.m.</td>
  </tr>
  <tr>
    <td style="height: 60px">4 p.m.</td>
    <td>4 p.m.</td>
    <td>4 p.m.</td>
    <td>4 p.m.</td>
    <td>4 p.m.</td>
  </tr>
  <tr>
    <td style="height: 60px">5 p.m.</td>
    <td>5 p.m.</td>
    <td>5 p.m.</td>
    <td>5 p.m.</td>
    <td>5 p.m.</td>
  </tr>
  <tr>
    <td style="height: 60px">6 p.m.</td>
    <td>6 p.m.</td>
    <td>6 p.m.</td>
    <td>6 p.m.</td>
    <td>6 p.m.</td>
  </tr>
  <tr>
    <td style="height: 60px">7 p.m</td>
    <td>7 p.m.</td>
    <td>7 p.m.</td>
    <td>7 p.m.</td>
    <td>7 p.m.</td>
  </tr>
  <tr>
    <td style="height: 60px">8 p.m.</td>
    <td>8 p.m.</td>
    <td>8 p.m.</td>
    <td>8 p.m.</td>
    <td>8 p.m.</td>
  </tr>
  <tr>
    <td style="height: 60px">9 p.m.</td>
    <td>9 p.m.</td>
    <td>9 p.m.</td>
    <td>9 p.m.</td>
    <td>9 p.m.</td>
  </tr>
</table>

<div class="container col-md-12  col-sm-offset-1">
    <img src= <%= current_user.image %> height="250" width="250"/>
</div>
