/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 body.homepage {
   background-color: white;
 }

 .hidden {
   display: none;
 }

 body.homepage #navbar {
  display: none !important;
}

.tab {
  margin-bottom: 20px;
}

 .grey-text {
 color: #8e8e8e;
 font-size: 22px;
 margin-bottom: -38px;
 margin-top: 10px;
 padding-left: 2px;
}

 .green-text {
 color: #abc90b;
 font-size: 22px;
 margin-bottom: -38px;
 margin-top: 10px;
}

.blue-text {
 color:rgba(0, 178, 192, 0.5);
 font-size: 22px;
 margin-bottom: -38px;
 margin-top: 10px;
 padding-right: 2px;
}

.c--anim-btn span {
  color: white;
  text-decoration: none;
  text-align: center;
  display: block;
}

.c--anim-btn, .c-anim-btn {
  transition: 0.3s;
}

.c--anim-btn {
  float: center;
  height: 64px;
  font: normal normal 300 1em/4em 'Open Sans';
  overflow: hidden;
  width: 300px;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 8px;
  -webkit-font-smoothing: antialiased !important;
}

.c-anim-btn{
  margin-top: -1em;
}

.c--anim-btn:hover .c-anim-btn{
  margin-top: -5em;
}

.c--anim-btn a:hover {
  text-decoration: none;
}

.pad {
  padding-top: 15px;
}

.home-bar {
  background-image: url("girl-code.jpg");
  background-repeat: no-repeat;
  min-height: 800px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-size: 1800px 1200px;
  overflow: hidden;
  text-align: center;
  background-position: center;
  color: white;
  font-family: 'Open Sans';
}

.home-bar h2 {
  color: rgba(0, 178, 192, 0.5);
}

.pageheader {
    width: 100%;
    background-color: rgba(0, 178, 192, 0.5) ! important;
    height: 8em;
    margin: 255px 0 0 0;
}

.pageheader h4 {
  padding-top: 30px;
  float: center;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  font-family: 'Courier New', Courier, monospace;
}

#logo {
  background: url("logo.png") no-repeat;
  background-position: center;
  width: 234px;
  height: 142px;
  margin-top: -1px;
  padding-top: -10px;
}

img {
    border-radius: 50%;
    padding-top: 12px;
}

.btn-lesson {
  margin-top: 60px;
  background-color: white !important;
  color: #473d40 !important;
  font-weight: bold !important;
}

.btn-lesson:hover {
  background-color: #473d40 !important;
  color: white !important;
  font-weight: bold !important;
}

button {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    border: 0;
    background: transparent;
    color: transparent !important;
}

button:hover {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    border: 0;
    background: transparent;
    color: inherit !important;
}

.jumbotron {
  position: center;
  color: white;
  background: grey;
  width: 80%;
  height: 250px;
  background-size: cover;
  overflow: scroll;
  margin-top: 10px;
  margin-left: 10px;
  padding-top: -20px;
}

.picture-box {
  background-color: transparent;
  margin-bottom: 10px;
  margin-left: 45px;
  margin-right: -10px;
}

.ui-datepicker {
	background-color: #eee;
	border: none;
	border-radius: 4px;
	box-shadow: 0 0 8px white;
	display: none;
	margin-top: 4px;
	padding: 10px;
	width: 250px;
  color: #abc90b;
}
.ui-datepicker a,
.ui-datepicker a:hover {
	text-decoration: none;
}
.ui-datepicker a:hover,
.ui-datepicker td:hover a {
	color: #41c6d1;
	-webkit-transition: color 0.1s ease-in-out;
	   -moz-transition: color 0.1s ease-in-out;
	     -o-transition: color 0.1s ease-in-out;
	        transition: color 0.1s ease-in-out;
}

a.ui-state-default {
  color: white
}
.ui-datepicker .ui-datepicker-header {
	margin-bottom: 4px;
	text-align: center;
}
.ui-datepicker .ui-datepicker-title {
	font-weight: 700;
}
.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
	cursor: pointer;
	font-family: 'Glyphicons Halflings';
	-webkit-font-smoothing: antialiased;
	font-style: normal;
	font-weight: normal;
	height: 20px;
	line-height: 1;
	margin-top: 2px;
	width: 30px;
  color: white;
}
.ui-datepicker .ui-datepicker-prev {
	float: left;
	text-align: left;
}
.ui-datepicker .ui-datepicker-next {
	float: right;
	text-align: right;
}
.ui-datepicker .ui-datepicker-prev:before {
	content: "\e079";
}
.ui-datepicker .ui-datepicker-next:before {
	content: "\e080";
}
.ui-datepicker .ui-icon {
	display: none;
}
.ui-datepicker .ui-datepicker-calendar {
  table-layout: float;
	width: 100%;
	margin-left: -4px;
}
.ui-datepicker .ui-datepicker-calendar th,
.ui-datepicker .ui-datepicker-calendar td {
	text-align: center;
	padding: 4px 0;
}
.ui-datepicker .ui-datepicker-calendar td {
	border-radius: 4px;
	-webkit-transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
	   -moz-transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
	     -o-transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
	        transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
}
.ui-datepicker .ui-datepicker-calendar td:hover {
	background-color: #fff;
	cursor: pointer;
}
.ui-datepicker .ui-datepicker-calendar td a {
	text-decoration: none;
}
.ui-datepicker .ui-datepicker-calendar th {
	color: grey;
}
.ui-datepicker .ui-datepicker-current-day {
	background-color: #41c6d1;
}
.ui-datepicker .ui-datepicker-current-day a {
	color: #fff
}
.ui-datepicker .ui-datepicker-calendar .ui-datepicker-unselectable:hover {
	background-color: #fff;
	cursor: default;
}
