table {
  margin-left: 40px;
}

td:hover {
  background-color: #f5f5f5;
  color: rgba(0, 178, 192, 0.5);
  font-weight: bold;
}

tr, td {
  padding-left: 10px !important;
  border-left: 1px solid white;
  background-color: #ebebeb;
  text-align: left !important;
  min-height: 1000px;
}

tr, th {
  min-width: 237px;
  min-height: 60px;
  background-color: rgba(0, 178, 192, 0.5);
  border-left: 1px solid white;
  color: white;
  -webkit-font-smoothing: antialiased !important;
  text-align: center !important;
  font-size: 15px;
}
