table {
  margin-left: 40px;
}

td:hover {
  background-color: #c5c5c5;
  font-weight: bold;
}

.lesson-link:hover {
  color: #41c6d1 !important;
  text-decoration: none;
  font: inherit !important;
}

.lesson-link {
  color: inherit !important;
  font: inherit !important;
}

.hour {
  color: white;
  padding-left: 10px !important;
  border-left: 1px solid white;
  background-color: #ebebeb;
  text-align: left !important;
  min-height: 1000px;
}

.weekday {
  min-width: 237px;
  min-height: 60px;
  background-color: #41c6d1;
  border-left: 1px solid white;
  color: white;
  text-align: center !important;
  font-size: 15px;
}
